#### Configuration file for scRNAseq pipeline ###
################################################# 

# Set the cellranger variables manually: 

# Cellranger module to run (count, vdj, or multi). 
MODULE=count

# Folder of experiment raw data (fasta files)
FASTQS=/mnt/beegfs/mvilardell/cellranger_tutorials/count_multisample_m2/dataset

# Name of the samples (comma separated)
SAMPLE_IDS=sc5p_v2_hs_B_1k_5gex,t_3k

# Output directory for the cellranger output
OUTPUT_DIR=/mnt/beegfs/mvilardell/cellranger_tutorials/cellrangermulti_tutorial/new_pipeline/results

# Path to the multi_config.csv file (for cellranger multi mode)
MULTI_CONFIG_FILE=

